.App {
  
}

/**
 https://developer.mozilla.org/zh-CN/docs/Web/CSS/@media/prefers-reduced-motion
 用户未修改系统动画相关特性
*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
